<%= form_for @picture do |f| %>
    <p><%= flash[:error] %></p>
    <p>
        <label>Artist</label><br>
        <%= f.text_field "artist"%>
    </p>
    <p>
        <label>Title</label><br>
        <%= @picture.errors[:title].join(",") %>
        <%= f.text_field "title" %>
    </p>
    <p>
        <label>URL</label><br>
        <%= @picture.errors[:url].join(",") %>
        <%= f.text_field "url" %>
    </p>
    <p>
        <%= f.submit "Save"  %>
    </p>
<% end %>