<H1>Edit <%= @picture.title %></H1>
<form action="/pictures/<%= @picture.id %>" method="POST">
	<p>
		<label>Title</label><br>
		<input type = "text" name = "artist" value="<%= @picture.artist %>"/>
	</p>
	<p>
		<label>Artist</label><br>
		<input type = "text" name = "title" value = "<%=@picture.title %>">
	</p>
	<p>
		<label>URL</label><br>
		<input type = "text" name = "url" value = "<%= @picture.url %>">
	</p>
	<p>
		<input type = "submit" value = "Edit"/>
	</p>
</form>