<H1>Edit <%= @picture.title %></H1>
<%= form_for @picture do |f| %>
	<p>
		<label>Title</label><br>
		<%= f.text_field "title" %>
	</p>
	<p>
		<label>Artist</label><br>
		<%= f.text_field "artist" %>
	</p>
	<p>
		<label>URL</label><br>
		<%= f.text_field "url" %>
	</p>
	<p>
		<%= f.submit "Edit" %>
	</p>
<% end %>