<%= link_to "Free pictures only", pictures_path(:free => "yes") %>

<h1>Photogur!</h1>

<%= link_to "New Picture", new_picture_path %>

<%- @pictures.each do |picture| %>
	<div class = 'picture'>
		<h2><%=picture.title%></h2>
		<h3><%=picture.artist%></h3>
        
		<%= link_to picture_path picture do %>
            <%= image_tag picture.url  %>
        <% end %>

		<%= button_to "Edit", picture_path(picture), :method => :get %>
        <br>
		<hr>
	</div>
<% end %>