<h1>Add an Image!</h1>

<%= form_for @picture do |f| %>
	<p>
		<label>Artist</label><br>
		<%= f.text_field "artist"  %>
	</p>
	<p>
		<label>Title</label><br>
		<%= f.text_field "title" %>
	</p>
	<p>
		<label>URL</label><br>
		<%= f.text_field "url" %>
	</p>
	<p>
		<%= f.submit "Save"  %>
	</p>
<% end %>